global
  log 127.0.0.1 local0

resolvers docker_resolver
    nameserver dns 127.0.0.11:53

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend tcp-in
    bind *:9000
    default_backend servers

 backend servers
    server cl1 "clickhouse1:9000" maxconn 5 check inter 500 resolvers docker_resolver resolve-prefer ipv4
    server cl2 "clickhouse2:9000" maxconn 5 check inter 500 resolvers docker_resolver resolve-prefer ipv4
    server cl3 "clickhouse3:9000" maxconn 5 check inter 500 resolvers docker_resolver resolve-prefer ipv4

